In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
data=pd.read_csv('economic_index.csv')

In [9]:
data.head()

   Unnamed: 0  year  month  interest_rate  unemployment_rate  index_price
0           0  2017     12           2.75                5.3         1464
1           1  2017     11           2.50                5.3         1394
2           2  2017     10           2.50                5.3         1357
3           3  2017      9           2.50                5.3         1293
4           4  2017      8           2.50                5.4         1256

In [10]:
data.drop(columns=["Unnamed: 0","year","month"],inplace =True,axis=1)

In [19]:
data.shape

(24, 3)